@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Thin.eot");
  src: local("Exo Thin"), local("Exo-Thin"), url("./../fonts/Exo/Exo-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonst/Exo/Exo-Thin.woff2") format("woff2"), url("./../fonts/Exo/Exo-Thin.woff") format("woff"), url("./../fonts/Exo/Exo-Thin.ttf") format("truetype"), url("./../fonts/Exo/Exo-Thin.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Medium.eot");
  src: local("Exo Medium"), local("Exo-Medium"), url("./../fonts/Exo/Exo-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Exo/Exo-Medium.woff2") format("woff2"), url("./../fonts/Exo/Exo-Medium.woff") format("woff"), url("./../fonts/Exo/Exo-Medium.ttf") format("truetype"), url("./../fonts/Exo/Exo-Medium.svg#Exo-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Regular.eot");
  src: local("Exo Regular"), local("Exo-Regular"), url("./../fonts/Exo/Exo-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Exo/Exo-Regular.woff2") format("woff2"), url("./../fonts/Exo/Exo-Regular.woff") format("woff"), url("./../fonts/Exo/Exo-Regular.ttf") format("truetype"), url("./../fonts/Exo/Exo-Regular.svg#Exo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Bold.eot");
  src: local("Exo Bold"), local("Exo-Bold"), url("./../fonts/Exo/Exo-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Exo/Exo-Bold.woff2") format("woff2"), url("./../fonts/Exo/Exo-Bold.woff") format("woff"), url("./../fonts/Exo/Exo-Bold.ttf") format("truetype"), url("./../fonts/Exo/Exo-Bold.svg#Exo-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.using-designers .using-designers__content .using-designers__title h3, .awesone-features .awesone-features__content .awesone-features__title h3, .resposive-designe .resposive-designe__content h3, .new-features .new-features__title h3, .new-design .new-design__content h3 {
  margin-bottom: 16px;
  font-size: 16px;
  color: #ff6d6d;
  font-weight: 500;
}

.using-designers .using-designers__content .using-designers__title h2, .awesone-features .awesone-features__content .awesone-features__title h2, .resposive-designe .resposive-designe__content h2, .new-features .new-features__title h2, .new-design .new-design__content h2 {
  max-width: 550px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
}

body {
  font-family: "Exo", sans-serif;
}

.banner {
  background: url(./../../../images/banner/banner-photo.jpg);
  height: 100vh;
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-attachment: scroll;
}
.banner .banner__content .play {
  margin-bottom: 16px;
}
.banner .banner__content h1 {
  font-size: 50px;
  max-width: 700px;
  letter-spacing: 4px;
  line-height: 75px;
  text-align: center;
  font-family: "Exo";
  font-weight: 100;
  font-style: normal;
}
.banner .banner__content .button {
  margin-bottom: 16px;
}
.banner .banner__content .button a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #ff6d6d;
  padding: 16px 50px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.banner .banner__content .button a:hover {
  background-color: #d65a5a;
}
.banner .banner__content .button a:active {
  background-color: #a54646;
}
.banner .banner__content .postscript {
  color: #767779;
  font-size: 16px;
}

.new-design {
  background-image: url(./../../../images/new-design/bcg.png);
  background-position: 68%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 190px 0 160px 0;
}
.new-design .new-design__content p {
  max-width: 550px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
  color: #717171;
}

.new-features {
  padding: 140px 0 190px 0;
  background-color: #f6f5f3;
  background-image: url(./../../../images/new-features/bcg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.new-features .new-features__title {
  margin-bottom: 32px;
}
.new-features .new-features__card .img {
  width: 100%;
  margin-bottom: 32px;
}
.new-features .new-features__card h3 {
  margin-bottom: 16px;
}
.new-features .new-features__card p {
  max-width: 340px;
  margin: auto;
  color: #6e6e6d;
}

.resposive-designe {
  padding: 140px 0;
}
.resposive-designe .resposive-designe__content::before {
  background: url(./../../../images/responsive-designe/Rectangle.png) no-repeat;
  background-size: 100%;
}
.resposive-designe .resposive-designe__content p {
  max-width: 550px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
  color: #717171;
}

.clients {
  padding: 150px 0;
  background: url(./../../../images/clients/bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.clients .clients__content .clients__items {
  margin-bottom: 96px;
}
.clients .clients__content .clients__items .clients__item {
  color: white;
}
.clients .clients__content .clients__items .clients__item .client-photo {
  margin-bottom: 32px;
}
.clients .clients__content .clients__items .clients__item .title h3 {
  font-size: 24px;
  font-weight: 500;
}
.clients .clients__content .clients__items .clients__item .title p {
  font-size: 16px;
  color: #ff6d6d;
  font-weight: 500;
}
.clients .clients__content .clients__items .clients__item .text {
  color: #b4b4b6;
  font-size: 16px;
  max-width: 320px;
  margin: auto;
}
.clients .clients__content .sponsor .photo {
  text-align: center;
}

.awesone-features {
  padding-top: 110px;
  background-color: #f6f5f3;
}
.awesone-features .awesone-features__content .awesone-features__title {
  text-align: center;
}
.awesone-features .awesone-features__content .awesone-features__title h2 {
  margin: 0 auto 48px;
  max-width: 600px;
}
.awesone-features .awesone-features__content .awesone-features__title p {
  max-width: 750px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  word-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 64px;
  color: #717171;
}
.awesone-features .awesone-features__content .awesone-features__img {
  text-align: center;
}

.using-designers {
  padding: 100px 0;
  background-color: #323969;
}
.using-designers .using-designers__content .using-designers__title {
  color: white;
  text-align: center;
}
.using-designers .using-designers__content .using-designers__title h2 {
  margin: 0 auto 48px;
  max-width: 1000px;
}
.using-designers .using-designers__content .using-designers__input {
  margin-bottom: 64px;
}
.using-designers .using-designers__content .using-designers__input .input-wrapper {
  text-align: center;
  margin-bottom: 32px;
}
.using-designers .using-designers__content .using-designers__input .input-wrapper .input {
  outline: none;
  color: white;
  border: 1px solid #999cb4;
  border-radius: 4px;
  padding: 11px 40px 11px 32px;
  background-color: #474d78;
  letter-spacing: 2px;
}
.using-designers .using-designers__content .using-designers__input .input-wrapper .input::-webkit-input-placeholder {
  color: white;
}
.using-designers .using-designers__content .using-designers__input img {
  margin-bottom: 16px;
}
.using-designers .using-designers__content .using-designers__input .submit {
  background-color: #ff6d6d;
  padding: 13px 94px;
  min-width: 260px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
.using-designers .using-designers__content .using-designers__input .submit:hover {
  background-color: #d65a5a;
}
.using-designers .using-designers__content .using-designers__input .submit:active {
  background-color: #a54646;
}
.using-designers .using-designers__content .terms {
  color: #a8aabc;
}
.using-designers .using-designers__content .terms a {
  color: #a8aabc;
}

footer {
  padding: 80px 0;
}
footer .footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
footer .footer__content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding: 0;
  width: 25%;
}
footer .footer__content ul li {
  font-size: 16px;
}
footer .footer__content ul li img {
  margin-bottom: 16px;
}
footer .footer__content ul li h3 {
  font-weight: 500;
  margin-bottom: 24px;
}
footer .footer__content ul li p {
  color: #868686;
  font-weight: 400;
  margin-bottom: 8px;
}
footer .footer__content ul li a {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  color: #868686;
  font-weight: 400;
}
footer .footer__content ul li .social-links {
  text-align: center;
  margin-right: 16px;
}
footer .footer__content ul li .social-links img {
  width: 100%;
}
footer .footer__content ul li form {
  position: relative;
  margin-bottom: 32px;
}
footer .footer__content ul li form .email {
  min-width: 260px;
  display: inline-block;
  outline: none;
  padding: 11px 32px;
  background-color: #f6f6f6;
  border-radius: 4px;
  border: 2px solid #b8b8bf;
  border-color: #b8b8bf;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
footer .footer__content ul li form .email::placeholder {
  color: #949494;
}
footer .footer__content ul li form .submit {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ff6d6d;
  background-image: url(./../../../images/footer/airplane_paper.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  border: none;
  border-radius: 4px;
  right: 0;
}
footer .footer__content ul li form .submit:hover {
  background-color: #d65a5a;
}
footer .footer__content ul li form .submit:active {
  background-color: #a54646;
}

/*# sourceMappingURL=style.css.map */
