.clients {
    padding: 150px 0;
    background: url(./../../../images/clients/bcg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .clients__content {
        .clients__items {
            margin-bottom: 96px;

            .clients__item {
                color: white;
                margin-bottom: 32px;

                .client-photo {
                    margin-bottom: 32px;
                }

                .title {
                    h3 {
                        font-size: 24px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 16px;
                        color: #ff6d6d;
                        font-weight: 500;
                    }
                }

                .text {
                    color: #b4b4b6;
                    font-size: 16px;
                    max-width: 320px;
                    margin: auto;

                }
            }
        }

        .sponsor {
            .photo {
                text-align: center;
                margin-bottom: 16px;

            }
        }

    }

}