.resposive-designe {
    padding: 140px 0;
    // background: url(./../../../images/responsive-designe/Rectangle.png) no-repeat;











    .resposive-designe__content {
        &::before {
            background: url(./../../../images/responsive-designe/Rectangle.png) no-repeat;
            background-size: 100%
        }


        @extend %subtitle;
        @extend %title;

        p {
            max-width: 550px;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 32px;
            color: #717171;
        }



    }





}